/* result_table.module.css */

.table {
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  overflow-x: auto;
  max-width: 100%;
}

.header {
  display: grid;
  grid-template-columns: 50px 50px 50px 80px 150px 120px;
  gap: 4px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.header p {
  padding: 8px;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
}

.table_row {
  display: grid;
  grid-template-columns: 50px 50px 50px 80px 150px 120px;
  gap: 4px;
  font-size: 12px;
  text-align: center;
  border-radius: 2px;
  margin-top: 4px;
}

.table_row p {
  padding: 5px;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

.table_row.inarea {
  background-color: rgba(92, 92, 186, 0.2);
}

.table_row p:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table_row p:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.03);
}